.animated-bill-list {
	position: relative;

	&::before {
		animation: ledger-item-fade 1s ease-in-out;
	}

	.ledger-end {
		animation: ledger-item-fade 1s ease-in-out;
	}

	.animated:not(.to-remove) {
		animation: none !important;
		opacity: 1 !important;
	}

	.to-remove {
		animation: ledger-item-remove 0.5s ease !important;
	}

	.ledger-item {
		@for $i from 0 through 10 {
			&.item-#{$i} {
				opacity: 0;
				animation: ledger-item-fly 0.4s ease-in-out $i * 0.05s forwards;
			}
		}
	}

	.ledger-divider {
		animation: ledger-item-fade 1s ease-in-out;
	}

	@keyframes ledger-item-fly {
		from {
			opacity: 0;
			transform: translateY(50vh);
		}

		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes ledger-item-fade {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes ledger-item-remove {
		from {
			opacity: 1;
			transform: translateX(0);
		}

		to {
			opacity: 0;
			transform: translateX(10%);
		}
	}
}